.header, .footer {
  font-size: 20px;
  padding: 20px;
  background-color: #FE1A19;
  color: #FFFFFF;  
}
.border {
	width: 400px;
	padding: 70px;
	border: solid medium yellow;
	margin: 50px;
	border-radius: 20px;
}
.column {
	display: flex;
	flex-direction: row;
}
body {
	width: 1440p;
}