.header, .footer {
  font-size: 20px;
  padding: 20px;
  background-color: #FE1A19;
  color: #FFFFFF;  
}
.border {
	width: 400px;
	padding: 25px; 25px;
	border: solid medium yellow;
	border-radius: 20px;
}
.column {
	display: flex;
	flex-direction: row;
	gap: 25px;
	padding: 50px;
}
body {
	width: 1440p;
}
p {
	margin-top: 40px;
}